name: Lint

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  Standard:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.8
          bundler-cache: true

      - name: Lint code for consistent style
        run: bundle exec standardrb
